/* 
    Created on : Feb. 21, 2022, 7:53:01 p.m.
    Author     : Usuario
*/

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif; 
}

body{
    margin: 0;
    padding: 0;
    background: linear-gradient(120deg,#1ABC9C,#DAF7A6);
    height: 100vh;
    overflow: hidden;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    background: white;
    border-radius: 10px;
    box-shadow: 10px 10px 15px rgba(0,0,0,0.5);
    transform: translate(-50%,-50%);
}

.container h1{
    text-align: center;
    padding: 20px 0;
    border-bottom: 1px solid silver;
}

.container back{
    text-align: center;
    padding: 40px 20px 20px;
    box-sizing: border-box;
}

back a{
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    background: linear-gradient(120deg,#1ABC9C,#DAF7A6);
    color: aliceblue;
    font-weight: bold;
}

.container form{
    text-align: center;
    padding: 40px 20px 20px;
    box-sizing: border-box;
}

form .txt_field{
    border-bottom: 2px solid #1ABC9C;
    position: relative;
    margin: 30px 0;
}

form .tel{
    border-bottom: 2px solid #1ABC9C;
    position: relative;
    margin: 30px 0;
}

form .submit{
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
}

.submit input{
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    background: linear-gradient(120deg,#1ABC9C,#DAF7A6);
    color: aliceblue;
    font-weight: bold;
}

.txt_field input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

.tel input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

.txt_field label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #111;
    transform: translateY(-200%);
    font-size: 16px;
    pointer-events: none;
}

.tel label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #111;
    transform: translateY(-200%);
    font-size: 16px;
    pointer-events: none;
}

a{
    display: inline-block;
    font-size: 1em;
    background: #1ABC9C;
    padding: 10px 30px;
    
}

a:hover{
    
}

