<!DOCTYPE html>
<!--comment-->
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://thymeleaf.org/extras/spring-security">
    <head th:replace="plantilla/template::head"></head>

    <body>
        <header th:replace="plantilla/template::header"></header>

        <div class="container">

            <div class="card-header bg-black text-white"></div>
            <div class="card-body">

                <h1 th:text="#{cliente.datos}">Datos de Cliente</h1>
                <div class="back"><a th:ref-="@{/index}" th:text="#{accion.regresar}">Regersar</a></div>

                <div class="container">
                    
                    <form th:object="${persona}"
                          th:action="@{/save}"
                          method="POST">
                        <input type ="hidden" th:field="*{id}"/>
                        <label th:text="#{cliente.nombre}" for="nombre">Nombre:</label>
                        <input type="text" name="nombre" th:field="*{nombre}" required/>
                        <br>
                        <label th:text="#{cliente.apellidos}" for="apellido1">Primer Apellido</label>
                        <input type="text" name="apellido1" th:field="*{apellido1}" required/> 
                        <br>
                        <label th:text="#{cliente.apellidos}" for="apellido2">Segundo Apellido</label>
                        <input type="text" name="apellido2" th:field="*{apellido2}" required/> 
                        <br> 
                        <label th:text="#{cliente.correo}" for="correo">Correo</label>
                        <input type="email" placeholder="xxxxxxxxxxx@xxxxxxxxx.xxx" required th:field="*{email}"/>
                        <br>
                        <label th:text="#{cliente.telefono}" for="telefono">Telefono</label>
                        <input type="text" placeholder="1234-5678" required th:field="*{telefono}">
                        <br> 
                        <label th:text="#{cliente.pais}" for="paises">Pais</label>
                        <!--<input type="text" required th:field="*{pais}"/>-->
                        <select th:field="*{pais}" class="form-control form-control-sm col-md-6" id="pais" aria-describedby="emailHelp">
                            <option th:each="x:${paises}"
                                    th:value="${x.id}"
                                    th:text="${x.pais}"/>
                        </select>
                        <br>
                        <br>
                        
                        <button type="submit" value="Guardar" th:text="#{accion.guardar}">Submit</button>
                    </form>

                </div>
            </div>
        </div>
        <footer th:replace="plantilla/template::footer"></footer>
    </body>
</html>
