<!DOCTYPE html>
<!-- comment -->
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <title>Inicio</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="css/login.css">
    </head>
    
    <body>
        <div class="navbar"><!-- contiene nav bar -->
                <img src='images/logo.png' alt='Logo' class="logo">
                <nav><!-- agrupar set de elementos de links de navegacion -->
                    <ul>
                        <li><a href='login.html'>Login</a></li>
                        <li><a href='home.html'>Home</a></li>
                        <li><a href='videos.html'>Videos</a></li>
                        <li><a href='guardarPersona.html'>Guardar Persona</a></li>
                    </ul>
                </nav>
            </div>
        <div class="content">
            
            <h1>Welcome</h1>
            <form method="post">
                <div class="txt_field">
                    <input type="text" required>
                    <label>Username</label>
                </div>
                <div class="txt_field">
                    <input type="password" required>
                    <label>Password</label>
                </div>
                <input type="submit" value="Login">
                <div class="SignUpLink">
                    Not a member ? <a href="">SignUp</a>
                </div>
            </form>
            
        </div>
    </body>
</html>
