<!DOCTYPE html>
<!--comment-->
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
    <head th:replace="plantilla/template::head"></head>

    <body>
        <h1 th:text="${titulo}"></h1>
        <h1 th:text="#{plantilla.personas}">XXX</h1>
        <div class="container">
            <!--<div class="back"><a th:ref="@{/guardarPersona}">Guardar Persona</a></div>-->
            <!--<div class="back"><a href='home.html'>Home</a></div>-->
            <div >
                <table border="1" class="table table-success table-striped">
                    <thead class=""thead-dark>
                        <tr>
                            <th th:text="#{cliente.nombre}">Nombre</th>
                            <th th:text="#{cliente.apellidos}">Primer Apellido</th>
                            <th th:text="#{cliente.apellidos}">Segundo Apellido</th>
                            <th th:text="#{cliente.correo}">Correo</th>
                            <th th:text="#{cliente.telefono}">Telefono</th>
                            <th th:text="#{cliente.pais}">País</th>
                            <th th:text="#{accion.actualizar}">Editar</th>
                            <th th:text="#{accion.eliminar}">Eliminar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <th:block th:each="user : ${personas}">
                            <tr>
                                <td th:text="${user.getNombre}"></td>
                                <td th:text="${user.getApellido1}"></td>
                                <td th:text="${user.getApellido2}"></td>
                                <td th:text="${user.getEmail}"></td>
                                <td th:text="${user.getTelefono}"></td>
                                <td th:text="${user.getPais.getPais}"></td> 
                                <!--Modificar-->
                                <td><a th:href="@{/editPersona/{id}(id = ${user.getId})}" th:text="#{accion.actualizar}">Editar</a></td>
                                <!--Eliminar-->
                                <td><a th:href="@{/delete/{id}(id = ${user.getId})}" th:text="#{accion.eliminar}">Eliminar</a></td>
                            </tr>
                        </th:block>
                    </tbody>
                </table>
            </div>
            
        </div>
    </body>
</html>
